Backup Flujos Node-Red/2019-06-19/flows.json
[{"id":"723a0892.f67bc8","type":"tab","label":"General","disabled":false,"info":""},{"id":"eb86d5dd.7cea68","type":"tab","label":"Leds Acuario (casa/NODEMCU-20181021)","disabled":false,"info":""},{"id":"655c532e.7d764c","type":"tab","label":"Luz Acuario (NODEMCU-20190307)","disabled":false,"info":""},{"id":"4710fb46.4c5674","type":"tab","label":"Encendido Remoto (casa/NODEMCU-20190202)","disabled":false,"info":""},{"id":"ad501b14.12f788","type":"tab","label":"Tests","disabled":false,"info":""},{"id":"15b1ae27.adb2b2","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"292528fc.d24198","type":"mqtt-broker","z":"","name":"Mosquitto en Raspberry Pi 3b+ de casa","broker":"localhost","port":"1883","clientid":"localhost_client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1036a38d.7bba0c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#ff8040","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Tote IoT","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"477c53bc.8130dc","type":"ui_tab","z":"","name":"Temp/Hum","icon":"dashboard","order":3},{"id":"cab9808.96c668","type":"ui_group","z":"","name":"Salón","tab":"477c53bc.8130dc","order":1,"disp":true,"width":"7","collapse":true},{"id":"f21094c5.e06ae8","type":"ui_group","z":"","name":"Control Animación","tab":"269b7d6a.cd4eb2","order":3,"disp":true,"width":"7","collapse":false},{"id":"269b7d6a.cd4eb2","type":"ui_tab","z":"","name":"Leds Acuario","icon":"dashboard","order":1},{"id":"c843b80d.822d28","type":"ui_group","z":"","name":"Configuración Reloj","tab":"269b7d6a.cd4eb2","order":1,"disp":true,"width":"7","collapse":false},{"id":"962cc8e2.15cd18","type":"ui_group","z":"","name":"Control LDR","tab":"269b7d6a.cd4eb2","order":4,"disp":true,"width":"7","collapse":false},{"id":"11cb7690.0f0609","type":"ui_group","z":"","name":"Configuración","tab":"269b7d6a.cd4eb2","order":5,"disp":true,"width":"7","collapse":false},{"id":"e48db4e1.120468","type":"ui_group","z":"","name":"Temporizador","tab":"269b7d6a.cd4eb2","order":2,"disp":true,"width":"7","collapse":false},{"id":"ca4377b8.e196d8","type":"ui_tab","z":"","name":"I7","icon":"dashboard","order":4},{"id":"87d95783.bed128","type":"ui_group","z":"","name":"Estado","tab":"ca4377b8.e196d8","order":1,"disp":true,"width":"7","collapse":false},{"id":"529e7105.66708","type":"ui_tab","z":"","name":"Tests","icon":"dashboard","order":5},{"id":"b31dae72.04fd5","type":"ui_tab","z":"","name":"Luz Acuario","icon":"dashboard","order":2},{"id":"dbcf6bb6.823bf8","type":"ui_group","z":"","name":"Controles","tab":"b31dae72.04fd5","order":2,"disp":true,"width":"6","collapse":false},{"id":"e21fc5e8.e5b508","type":"ui_group","z":"","name":"Temporizador","tab":"b31dae72.04fd5","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef1c460e.c2b558","type":"alexa-home-conf","z":"","username":"usuario"},{"id":"3c320cab.f6e3e4","type":"mqtt-broker","z":"","name":"prueba sonoff espurna","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c456830.854268","type":"alexa-home-conf","z":"","username":"antsala"},{"id":"21e4c408.7ea7cc","type":"ui_group","z":"","name":"Status","tab":"269b7d6a.cd4eb2","order":6,"disp":true,"width":"6","collapse":false},{"id":"ba50b89b.1bbe38","type":"ui_group","z":"","name":"Status","tab":"b31dae72.04fd5","order":3,"disp":true,"width":"6","collapse":false},{"id":"91ae3959.8b33c8","type":"ui_group","z":"","name":"Status","tab":"ca4377b8.e196d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d850656.ac65598","type":"ui_group","z":"","name":"Status1 (LEDs Acuario)","tab":"529e7105.66708","order":1,"disp":true,"width":"6","collapse":false},{"id":"f3c215e6.76dc28","type":"ui_group","z":"","name":"Status2 (LUZ Acuario)","tab":"529e7105.66708","order":2,"disp":true,"width":"6","collapse":false},{"id":"b8bdb450.444978","type":"ui_group","z":"","name":"Status3 (I7)","tab":"529e7105.66708","order":3,"disp":true,"width":"6","collapse":false},{"id":"b3bb2430.861ab8","type":"ui_gauge","z":"eb86d5dd.7cea68","name":"Temperatura actual en el salón","group":"cab9808.96c668","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura actual","label":"º C","format":"{{value}}","min":"-20","max":"60","colors":["#0000ff","#2bc422","#ca3838"],"seg1":"12","seg2":"32","x":850,"y":340,"wires":[]},{"id":"21ffe9c.c5e6116","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/temperatura","qos":"2","broker":"292528fc.d24198","x":440,"y":340,"wires":[["b3bb2430.861ab8","ac72deac.921fd"]]},{"id":"ac72deac.921fd","type":"ui_chart","z":"eb86d5dd.7cea68","name":"Evolución (24h)","group":"cab9808.96c668","order":3,"width":"6","height":"7","label":"Evolución 24 horas","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"No hay datos aun!!!","dot":false,"ymin":"-20","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#ff0000","#0000ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":800,"y":440,"wires":[[],[]]},{"id":"a7b4b522.1e2548","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/humedad","qos":"2","broker":"292528fc.d24198","x":440,"y":540,"wires":[["aeaac3ed.33121","ac72deac.921fd"]]},{"id":"aeaac3ed.33121","type":"ui_gauge","z":"eb86d5dd.7cea68","name":"Humedad actual en el salón","group":"cab9808.96c668","order":2,"width":0,"height":0,"gtype":"gage","title":"Humedad actual","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#a8a5da","#6268b9","#3f3f83"],"seg1":"30","seg2":"60","x":840,"y":540,"wires":[]},{"id":"e7a83874.77cb88","type":"ui_dropdown","z":"eb86d5dd.7cea68","name":"Selección de la Animación","label":"Animación","place":"","group":"f21094c5.e06ae8","order":2,"width":"0","height":"0","passthru":false,"options":[{"label":"Circular Rainbow","value":0,"type":"num"},{"label":"Rainbow Cycle","value":"1","type":"str"},{"label":"Color Wipe","value":"2","type":"str"},{"label":"Theather Chase","value":"3","type":"str"},{"label":"Random Cycle","value":"4","type":"str"},{"label":"Random ON/OFF","value":"5","type":"str"},{"label":"Random ON/OFF Fadding","value":"6","type":"str"}],"payload":"","topic":"","x":580,"y":1300,"wires":[["235d5f21.dce83"]]},{"id":"235d5f21.dce83","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/animationid","qos":"2","retain":"","broker":"292528fc.d24198","x":1120,"y":1300,"wires":[]},{"id":"65f4e654.9dcbd8","type":"ui_slider","z":"eb86d5dd.7cea68","name":"Intervalo animación","label":"Velocidad","group":"f21094c5.e06ae8","order":3,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"400","step":"10","x":550,"y":1400,"wires":[["fa87d2ef.5778d"]]},{"id":"fa87d2ef.5778d","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/interval","qos":"2","retain":"","broker":"292528fc.d24198","x":1140,"y":1400,"wires":[]},{"id":"9c8dd2b7.f84e6","type":"ui_slider","z":"eb86d5dd.7cea68","name":"Selección Color1","label":"Color1","group":"f21094c5.e06ae8","order":4,"width":0,"height":0,"passthru":false,"topic":"","min":"380","max":"750","step":"1","x":550,"y":1500,"wires":[["367eefeb.9234c"]]},{"id":"367eefeb.9234c","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/color1","qos":"2","retain":"","broker":"292528fc.d24198","x":1140,"y":1500,"wires":[]},{"id":"d6ad4cfb.e6517","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/color2","qos":"2","retain":"","broker":"292528fc.d24198","x":1140,"y":1580,"wires":[]},{"id":"d9d95b66.4f70d8","type":"ui_slider","z":"eb86d5dd.7cea68","name":"Selección Color2","label":"Color2","group":"f21094c5.e06ae8","order":5,"width":0,"height":0,"passthru":false,"topic":"","min":"380","max":"750","step":"1","x":550,"y":1580,"wires":[["d6ad4cfb.e6517"]]},{"id":"d98b916f.95da1","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/bright1","qos":"2","retain":"","broker":"292528fc.d24198","x":1140,"y":1660,"wires":[]},{"id":"273142b8.72475e","type":"ui_slider","z":"eb86d5dd.7cea68","name":"Selección Brillo1","label":"Brillo1","group":"f21094c5.e06ae8","order":6,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"100","step":"5","x":550,"y":1660,"wires":[["d98b916f.95da1"]]},{"id":"88695d2d.ad68a","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/bright2","qos":"2","retain":"","broker":"292528fc.d24198","x":1140,"y":1740,"wires":[]},{"id":"7eb79632.1f3ad8","type":"ui_slider","z":"eb86d5dd.7cea68","name":"Selección Brillo2","label":"Brillo2","group":"f21094c5.e06ae8","order":7,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"100","step":"5","x":550,"y":1740,"wires":[["88695d2d.ad68a"]]},{"id":"efd171af.34f95","type":"ui_switch","z":"eb86d5dd.7cea68","name":"LDR Switch","label":"LDR","group":"962cc8e2.15cd18","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":610,"y":1820,"wires":[["51055842.3b3bb8"]]},{"id":"51055842.3b3bb8","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/ldr","qos":"2","retain":"","broker":"292528fc.d24198","x":1150,"y":1820,"wires":[]},{"id":"e44fb732.22b1e8","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/ldr_fire_threshold","qos":"2","retain":"","broker":"292528fc.d24198","x":1100,"y":1900,"wires":[]},{"id":"188b024d.32b7ae","type":"ui_slider","z":"eb86d5dd.7cea68","name":"Selección threshold LDR","label":"Nivel LDR","group":"962cc8e2.15cd18","order":2,"width":0,"height":0,"passthru":false,"topic":"","min":"0","max":"1000","step":"10","x":630,"y":1900,"wires":[["e44fb732.22b1e8"]]},{"id":"c389a440.701f68","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/animationid_refresh","qos":"0","broker":"292528fc.d24198","x":240,"y":1300,"wires":[["e7a83874.77cb88"]]},{"id":"ee0b5a65.f6de78","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/eeprom_reset_data","qos":"2","retain":"","broker":"292528fc.d24198","x":1100,"y":2260,"wires":[]},{"id":"b0fec060.32edc","type":"ui_button","z":"eb86d5dd.7cea68","name":"Reset EEPROM","group":"11cb7690.0f0609","order":1,"width":0,"height":0,"passthru":true,"label":"Reset","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":620,"y":2260,"wires":[["ee0b5a65.f6de78"]]},{"id":"a5711a0.a9ecae8","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/bright1_refresh","qos":"0","broker":"292528fc.d24198","x":230,"y":1660,"wires":[["273142b8.72475e"]]},{"id":"745df1b4.4fc7e","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/bright2_refresh","qos":"0","broker":"292528fc.d24198","x":230,"y":1740,"wires":[["7eb79632.1f3ad8"]]},{"id":"9edf85ed.da1568","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/interval_refresh","qos":"0","broker":"292528fc.d24198","x":230,"y":1400,"wires":[["65f4e654.9dcbd8"]]},{"id":"80a51352.759f2","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/color1_refresh","qos":"0","broker":"292528fc.d24198","x":220,"y":1500,"wires":[["9c8dd2b7.f84e6"]]},{"id":"48dee747.af7db8","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/color2_refresh","qos":"0","broker":"292528fc.d24198","x":220,"y":1580,"wires":[["d9d95b66.4f70d8"]]},{"id":"101a1285.c0dfcd","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/ldr_refresh","qos":"0","broker":"292528fc.d24198","x":210,"y":1820,"wires":[["efd171af.34f95"]]},{"id":"e9b9d298.c2a06","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/ldr_fire_threshold_refresh","qos":"0","broker":"292528fc.d24198","x":260,"y":1900,"wires":[["188b024d.32b7ae"]]},{"id":"236d9be3.4ad174","type":"ui_numeric","z":"eb86d5dd.7cea68","name":"","label":"Hora inicio","group":"e48db4e1.120468","order":2,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":630,"y":920,"wires":[["68baa2dd.8421dc"]]},{"id":"c772d43f.7695f8","type":"ui_numeric","z":"eb86d5dd.7cea68","name":"","label":"Minutos inicio","group":"e48db4e1.120468","order":3,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":640,"y":1020,"wires":[["ad722930.847428"]]},{"id":"f485fa1e.e12a28","type":"ui_numeric","z":"eb86d5dd.7cea68","name":"","label":"Duración en minutos","group":"e48db4e1.120468","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"1440","step":1,"x":660,"y":1120,"wires":[["7c9f0977.6fbdb8"]]},{"id":"cc57899c.8004d8","type":"ui_switch","z":"eb86d5dd.7cea68","name":"","label":"Activar temporizador","group":"e48db4e1.120468","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":660,"y":800,"wires":[["65666a25.6f07e4"]]},{"id":"aee7974e.a97648","type":"ui_text","z":"eb86d5dd.7cea68","group":"e48db4e1.120468","order":0,"width":0,"height":0,"name":"","label":"Activado","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1220,"wires":[]},{"id":"d3b1df69.49ae2","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_enabled_refresh","qos":"0","broker":"292528fc.d24198","x":250,"y":800,"wires":[["cc57899c.8004d8"]]},{"id":"65666a25.6f07e4","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_enabled","qos":"2","retain":"","broker":"292528fc.d24198","x":1110,"y":800,"wires":[]},{"id":"68baa2dd.8421dc","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_initial_hours","qos":"2","retain":"","broker":"292528fc.d24198","x":1100,"y":920,"wires":[]},{"id":"446a95a2.29f83c","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_initial_hours_refresh","qos":"0","broker":"292528fc.d24198","x":260,"y":920,"wires":[["236d9be3.4ad174"]]},{"id":"ad722930.847428","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_initial_minutes","qos":"2","retain":"","broker":"292528fc.d24198","x":1090,"y":1020,"wires":[]},{"id":"9ae82c9c.04bb","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_initial_minutes_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":1020,"wires":[["c772d43f.7695f8"]]},{"id":"7c9f0977.6fbdb8","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_duration","qos":"2","retain":"","broker":"292528fc.d24198","x":1110,"y":1120,"wires":[]},{"id":"c8fd9ce8.981ff","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_duration_refresh","qos":"0","broker":"292528fc.d24198","x":250,"y":1120,"wires":[["f485fa1e.e12a28"]]},{"id":"b7b0c83a.d20888","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/timer_state","qos":"0","broker":"292528fc.d24198","x":210,"y":1220,"wires":[["aee7974e.a97648"]]},{"id":"4a60d9cf.3c49a8","type":"mqtt in","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/power_on_status_refresh","qos":"0","broker":"292528fc.d24198","x":320,"y":220,"wires":[["3072a5ab.56bb6a"]]},{"id":"3072a5ab.56bb6a","type":"ui_text","z":"4710fb46.4c5674","group":"87d95783.bed128","order":1,"width":0,"height":0,"name":"","label":"El Ordenador está: ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"ffbe744f.252d38","type":"ui_button","z":"4710fb46.4c5674","name":"","group":"87d95783.bed128","order":3,"width":0,"height":0,"passthru":false,"label":"POWER SWITCH","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":770,"y":440,"wires":[["8c12623.5b276a"]]},{"id":"8c12623.5b276a","type":"mqtt out","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/power_switch","qos":"2","retain":"","broker":"292528fc.d24198","x":1080,"y":440,"wires":[]},{"id":"56a8e5fc.abaedc","type":"ui_button","z":"4710fb46.4c5674","name":"","group":"87d95783.bed128","order":5,"width":0,"height":0,"passthru":false,"label":"RESET SWITCH","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":770,"y":640,"wires":[["6bf3749b.2ae20c"]]},{"id":"6bf3749b.2ae20c","type":"mqtt out","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/reset_switch","qos":"2","retain":"","broker":"292528fc.d24198","x":1100,"y":640,"wires":[]},{"id":"746792f6.046d5c","type":"ui_text_input","z":"4710fb46.4c5674","name":"","label":"Password","group":"87d95783.bed128","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"100","topic":"","x":740,"y":340,"wires":[["91aa72bd.5fa3"]]},{"id":"91aa72bd.5fa3","type":"mqtt out","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/password","qos":"2","retain":"","broker":"292528fc.d24198","x":1090,"y":340,"wires":[]},{"id":"df9aac44.67f69","type":"mqtt in","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/password_refresh","qos":"0","broker":"292528fc.d24198","x":290,"y":340,"wires":[["746792f6.046d5c"]]},{"id":"ee2ea945.2cf8e8","type":"ui_button","z":"4710fb46.4c5674","name":"","group":"87d95783.bed128","order":4,"width":0,"height":0,"passthru":false,"label":"HARD POWER SWITCH","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":790,"y":540,"wires":[["a430b56c.a6b588"]]},{"id":"a430b56c.a6b588","type":"mqtt out","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/hard_power_switch","qos":"2","retain":"","broker":"292528fc.d24198","x":1100,"y":540,"wires":[]},{"id":"5eb17649.ef2478","type":"inject","z":"723a0892.f67bc8","name":"","topic":"casa/time_source","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["caacfa7c.65ac28"]]},{"id":"964cafea.0f64a","type":"mqtt out","z":"723a0892.f67bc8","name":"","topic":"casa/time_source","qos":"0","retain":"","broker":"292528fc.d24198","x":1210,"y":280,"wires":[]},{"id":"6c39f387.adf96c","type":"function","z":"723a0892.f67bc8","name":"Añade huso horario España (+1)","func":"msg.payload = msg.payload + 3600 * 2\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["964cafea.0f64a"]]},{"id":"caacfa7c.65ac28","type":"function","z":"723a0892.f67bc8","name":"Convierte a segundos","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["6c39f387.adf96c"]]},{"id":"67ef30a2.12e6b","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20190307/masterSwitch","qos":"2","retain":"","broker":"292528fc.d24198","x":1200,"y":220,"wires":[]},{"id":"1e78251.7aecfdb","type":"function","z":"15b1ae27.adb2b2","name":"Convierte tipo","func":"if (msg.payload === true) {\n    msg.payload = \"1\";\n} else {\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":220,"wires":[["67ef30a2.12e6b"]]},{"id":"39f138a.2362bc8","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57605","acknoledge":true,"name":"Luz del acuario","topic":"","x":300,"y":220,"wires":[["1e78251.7aecfdb","afd60aaa.2a6b48"]]},{"id":"3be0d691.ec6bda","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57789","acknoledge":true,"name":"Velocidad de la animación","topic":"","x":330,"y":720,"wires":[["c144a1e2.6aab6"]]},{"id":"c144a1e2.6aab6","type":"function","z":"15b1ae27.adb2b2","name":"Conversión de escala","func":"// Alexa manda del 0 al 100%\n// El dispositivo gestiona la velocidad de 0 a 400,\n// Siendo 0 la más rápida y 400 la más lenta.\n\n// 0% equivale a 400\n// 100% equivale a 0\nmsg.payload = 400 - 4 * msg.payload\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":720,"wires":[["3a804502.f80c9a"]]},{"id":"3a804502.f80c9a","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/interval","qos":"2","retain":"","broker":"292528fc.d24198","x":1040,"y":720,"wires":[]},{"id":"e89d2e50.5fc49","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57796","acknoledge":true,"name":"Color principal","topic":"","x":290,"y":820,"wires":[["959c5302.640fb"]]},{"id":"959c5302.640fb","type":"function","z":"15b1ae27.adb2b2","name":"Conversión Hue a Longitud de onda","func":"// El dispositivo trabaja con la longitud de onda de \n// de colores ( de 308nm a 750nm), siendo el rojo\n// el de mayor longitud y el violeta el de menor.\n//\n// Alexa usa el hue, donde el rojo es 0 y el\n// violeta el 300.\n\n// Hago una proporción entre las dos magnitudes.\n// En principo algo comprimido hasta el amarillo.\n\nMINHUE = 0;\nMAXHUE = 300;\n\nMINLAMBDA = 380;\nMAXLAMBDA = 650;\n\ny = msg.payload.hue;\n\n// el HUE 60 (amarillo) necesita extender la\n// escala\nif (y < 60)\n    MAXLAMBDA = 750;\n\nlambda = MINLAMBDA + (y - MAXHUE) * (MAXLAMBDA - MINLAMBDA) / (MINHUE - MAXHUE);\n\nif (lambda < MINLAMBDA)\n    lambda = MINLAMBDA;\n    \nif (lambda > MAXLAMBDA)\n    lambda = MAXLAMBDA;\n   \nmsg.payload = lambda;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["b6a200df.748ba"]]},{"id":"b6a200df.748ba","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/color1","qos":"2","retain":"","broker":"292528fc.d24198","x":1040,"y":820,"wires":[]},{"id":"66f06c72.cb2e64","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57828","acknoledge":true,"name":"Color secundario","topic":"","x":300,"y":920,"wires":[["d597f04a.de3e7"]]},{"id":"ac8f913e.1be2e","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/color2","qos":"2","retain":"","broker":"292528fc.d24198","x":1040,"y":920,"wires":[]},{"id":"c534fdb.9e9d6","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57831","acknoledge":true,"name":"Brillo principal","topic":"","x":290,"y":1100,"wires":[["7e2eb7f0.90fd08"]]},{"id":"7e2eb7f0.90fd08","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/bright1","qos":"2","retain":"","broker":"292528fc.d24198","x":1040,"y":1100,"wires":[]},{"id":"fd3171dc.dccc4","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57832","acknoledge":true,"name":"Brillo secundario","topic":"","x":300,"y":1180,"wires":[["c8d2b4b1.58a5a8"]]},{"id":"c8d2b4b1.58a5a8","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/bright2","qos":"2","retain":"","broker":"292528fc.d24198","x":1040,"y":1180,"wires":[]},{"id":"83fcd9f7.318838","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/ldr","qos":"2","retain":"","broker":"292528fc.d24198","x":1030,"y":1280,"wires":[]},{"id":"4b419724.7c5f98","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57833","acknoledge":true,"name":"LDR","topic":"","x":270,"y":1280,"wires":[["16d620f3.7b559f"]]},{"id":"16d620f3.7b559f","type":"function","z":"15b1ae27.adb2b2","name":"Convierte tipo","func":"if (msg.payload === true) {\n    msg.payload = \"1\";\n} else {\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1280,"wires":[["83fcd9f7.318838"]]},{"id":"d05a7025.eab4","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57836","acknoledge":true,"name":"Nivel LDR","topic":"","x":280,"y":1380,"wires":[["2783bec6.bee0e2"]]},{"id":"2783bec6.bee0e2","type":"function","z":"15b1ae27.adb2b2","name":"Conversión de escala","func":"// Alexa manda del 0 al 100%\n// El dispositivo gestiona el sensor LDR de 0 a 1000\n\nmsg.payload =  msg.payload * 10;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1380,"wires":[["29c6ba55.47d316"]]},{"id":"29c6ba55.47d316","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/ldr_fire_threshold","qos":"2","retain":"","broker":"292528fc.d24198","x":1080,"y":1380,"wires":[]},{"id":"d597f04a.de3e7","type":"function","z":"15b1ae27.adb2b2","name":"Conversión Hue a Longitud de onda","func":"// El dispositivo trabaja con la longitud de onda de \n// de colores ( de 308nm a 750nm), siendo el rojo\n// el de mayor longitud y el violeta el de menor.\n//\n// Alexa usa el hue, donde el rojo es 0 y el\n// violeta el 300.\n\n// Hago una proporción entre las dos magnitudes.\n// En principo algo comprimido hasta el amarillo.\n\nMINHUE = 0;\nMAXHUE = 300;\n\nMINLAMBDA = 380;\nMAXLAMBDA = 650;\n\ny = msg.payload.hue;\n\n// el HUE 60 (amarillo) necesita extender la\n// escala\nif (y < 60)\n    MAXLAMBDA = 750;\n\nlambda = MINLAMBDA + (y - MAXHUE) * (MAXLAMBDA - MINLAMBDA) / (MINHUE - MAXHUE);\n\nif (lambda < MINLAMBDA)\n    lambda = MINLAMBDA;\n    \nif (lambda > MAXLAMBDA)\n    lambda = MAXLAMBDA;\n   \nmsg.payload = lambda;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":920,"wires":[["ac8f913e.1be2e"]]},{"id":"dfb6d8f3.777f38","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57837","acknoledge":true,"name":"Animación","topic":"","x":280,"y":1520,"wires":[["97ca9d7d.eb989"]]},{"id":"ff328c85.55213","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/animationid","qos":"2","retain":"","broker":"292528fc.d24198","x":1060,"y":1520,"wires":[]},{"id":"97ca9d7d.eb989","type":"function","z":"15b1ae27.adb2b2","name":"Limitar animación Id de 0 a 6","func":"// Alexa manda del 0 al 100%\n// Si no digo \"por ciento\" devuelve el valor\n// pero el 0 no lo recoge bien\n// así que limito las id del 1 al 7\n// y le resto 1 para mandarselo al dispositivo.\n\nif (msg.payload > 7)\n    msg.payload = 7;\n    \n// Devuelvo uno menos.\nmsg.payload = msg.payload - 1;\n    \nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1520,"wires":[["ff328c85.55213"]]},{"id":"313510a6.358a1","type":"ui_switch","z":"eb86d5dd.7cea68","name":"Master Switch","label":"Master Switch","group":"f21094c5.e06ae8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":600,"y":2120,"wires":[["181d063f.818c5a"]]},{"id":"181d063f.818c5a","type":"mqtt out","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/masterSwitch","qos":"2","retain":"","broker":"292528fc.d24198","x":1120,"y":2120,"wires":[]},{"id":"71fb22d.2e246dc","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/masterSwitch_refresh","qos":"0","broker":"292528fc.d24198","x":250,"y":2120,"wires":[["313510a6.358a1"]]},{"id":"afd60aaa.2a6b48","type":"function","z":"15b1ae27.adb2b2","name":"Convierte tipo negando lógica","func":"if (msg.payload === false) {\n    msg.payload = \"1\";\n} else {\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["43880051.910a5"]]},{"id":"c039f3f4.66af4","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"57963","acknoledge":true,"name":"Leds del acuario","topic":"","x":300,"y":560,"wires":[["1bae2a75.2cdec6","24fe1f2a.f601b"]]},{"id":"24fe1f2a.f601b","type":"function","z":"15b1ae27.adb2b2","name":"Convierte tipo negando lógica","func":"if (msg.payload === false) {\n    msg.payload = \"1\";\n} else {\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["5099550b.15e2fc"]]},{"id":"1bae2a75.2cdec6","type":"function","z":"15b1ae27.adb2b2","name":"Convierte tipo","func":"if (msg.payload === true) {\n    msg.payload = \"1\";\n} else {\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":560,"wires":[["c0dbcf33.816cd"]]},{"id":"c0dbcf33.816cd","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/masterSwitch","qos":"2","retain":"","broker":"292528fc.d24198","x":1220,"y":560,"wires":[]},{"id":"770c3e9e.436d9","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/eeprom_reset_data","qos":"2","retain":"","broker":"292528fc.d24198","x":1080,"y":1620,"wires":[]},{"id":"1b6b7f7a.328351","type":"alexa-home","z":"15b1ae27.adb2b2","conf":"4c456830.854268","device":"58141","acknoledge":true,"name":"Resetea acuario","topic":"","x":300,"y":1620,"wires":[["770c3e9e.436d9"]]},{"id":"5099550b.15e2fc","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20181021/timer_enabled","qos":"2","retain":"","broker":"292528fc.d24198","x":1210,"y":440,"wires":[]},{"id":"43880051.910a5","type":"mqtt out","z":"15b1ae27.adb2b2","name":"","topic":"casa/NODEMCU-20190307/timer_enabled","qos":"2","retain":"","broker":"292528fc.d24198","x":1190,"y":340,"wires":[]},{"id":"9d5a398d.7705b8","type":"ui_text","z":"eb86d5dd.7cea68","group":"21e4c408.7ea7cc","order":0,"width":0,"height":0,"name":"status Date","label":"","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":2420,"wires":[]},{"id":"e1d3a545.05a668","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/status_date_refresh","qos":"0","broker":"292528fc.d24198","x":260,"y":2420,"wires":[["9d5a398d.7705b8"]]},{"id":"3be254d7.04b8fc","type":"ui_text","z":"eb86d5dd.7cea68","group":"21e4c408.7ea7cc","order":0,"width":0,"height":0,"name":"mqtt ID","label":"","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":2480,"wires":[]},{"id":"825424e6.f16da8","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/mqtt_ID_refresh","qos":"0","broker":"292528fc.d24198","x":250,"y":2480,"wires":[["3be254d7.04b8fc"]]},{"id":"7ff559f3.b95638","type":"ui_text","z":"eb86d5dd.7cea68","group":"21e4c408.7ea7cc","order":0,"width":0,"height":0,"name":"mqtt Last Op","label":"","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":2540,"wires":[]},{"id":"40fda155.1a1dc","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/mqtt_Last_Op_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":2540,"wires":[["7ff559f3.b95638"]]},{"id":"24207f06.69b6f","type":"ui_text","z":"eb86d5dd.7cea68","group":"21e4c408.7ea7cc","order":0,"width":0,"height":0,"name":"WiFi Signal","label":"","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":2600,"wires":[]},{"id":"43ce9af9.7b2ce4","type":"mqtt in","z":"eb86d5dd.7cea68","name":"","topic":"casa/NODEMCU-20181021/wifi_signal_refresh","qos":"0","broker":"292528fc.d24198","x":260,"y":2600,"wires":[["24207f06.69b6f"]]},{"id":"815e2913.969158","type":"ui_text","z":"4710fb46.4c5674","group":"91ae3959.8b33c8","order":0,"width":0,"height":0,"name":"status Date","label":"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":800,"wires":[]},{"id":"a30f8066.0668c","type":"mqtt in","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/status_date_refresh","qos":"0","broker":"292528fc.d24198","x":310,"y":800,"wires":[["815e2913.969158"]]},{"id":"b6546c6c.536f3","type":"ui_text","z":"4710fb46.4c5674","group":"91ae3959.8b33c8","order":0,"width":0,"height":0,"name":"mqtt ID","label":"","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":860,"wires":[]},{"id":"66b3c572.dc044c","type":"mqtt in","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/mqtt_ID_refresh","qos":"0","broker":"292528fc.d24198","x":300,"y":860,"wires":[["b6546c6c.536f3"]]},{"id":"53d4d907.125c08","type":"ui_text","z":"4710fb46.4c5674","group":"91ae3959.8b33c8","order":0,"width":0,"height":0,"name":"mqtt Last Op","label":"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":920,"wires":[]},{"id":"99652d58.6af1e","type":"mqtt in","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/mqtt_Last_Op_refresh","qos":"0","broker":"292528fc.d24198","x":320,"y":920,"wires":[["53d4d907.125c08"]]},{"id":"6da44f4e.be188","type":"ui_text","z":"4710fb46.4c5674","group":"91ae3959.8b33c8","order":0,"width":0,"height":0,"name":"WiFi Signal","label":"","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":980,"wires":[]},{"id":"7d587f13.b5767","type":"mqtt in","z":"4710fb46.4c5674","name":"","topic":"casa/NODEMCU-20190202/wifi_signal_refresh","qos":"0","broker":"292528fc.d24198","x":310,"y":980,"wires":[["6da44f4e.be188"]]},{"id":"4b93f0af.886ab","type":"ui_text","z":"ad501b14.12f788","group":"d850656.ac65598","order":0,"width":0,"height":0,"name":"status Date","label":"","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":120,"wires":[]},{"id":"b6a0d03d.ed478","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20181021/status_date_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":120,"wires":[["4b93f0af.886ab"]]},{"id":"bc99c683.989778","type":"ui_text","z":"ad501b14.12f788","group":"d850656.ac65598","order":0,"width":0,"height":0,"name":"mqtt ID","label":"","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":180,"wires":[]},{"id":"48562485.9617ec","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20181021/mqtt_ID_refresh","qos":"0","broker":"292528fc.d24198","x":260,"y":180,"wires":[["bc99c683.989778"]]},{"id":"19246fdc.becae","type":"ui_text","z":"ad501b14.12f788","group":"d850656.ac65598","order":0,"width":0,"height":0,"name":"mqtt Last Op","label":"","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":240,"wires":[]},{"id":"2dbd6a8.508ea96","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20181021/mqtt_Last_Op_refresh","qos":"0","broker":"292528fc.d24198","x":280,"y":240,"wires":[["19246fdc.becae"]]},{"id":"3a2b2c44.6f0654","type":"ui_text","z":"ad501b14.12f788","group":"d850656.ac65598","order":0,"width":0,"height":0,"name":"WiFi Signal","label":"","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":300,"wires":[]},{"id":"36010a1e.add806","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20181021/wifi_signal_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":300,"wires":[["3a2b2c44.6f0654"]]},{"id":"2a5a490d.1101b6","type":"ui_text","z":"ad501b14.12f788","group":"f3c215e6.76dc28","order":0,"width":0,"height":0,"name":"status Date","label":"","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":440,"wires":[]},{"id":"4af342a1.ebdc8c","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20190307/status_date_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":440,"wires":[["2a5a490d.1101b6"]]},{"id":"9512df11.24bee","type":"ui_text","z":"ad501b14.12f788","group":"f3c215e6.76dc28","order":0,"width":0,"height":0,"name":"mqtt ID","label":"","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":500,"wires":[]},{"id":"1ebdbf83.99de","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20190307/mqtt_ID_refresh","qos":"0","broker":"292528fc.d24198","x":260,"y":500,"wires":[["9512df11.24bee"]]},{"id":"17b52739.1c4fc9","type":"ui_text","z":"ad501b14.12f788","group":"f3c215e6.76dc28","order":0,"width":0,"height":0,"name":"mqtt Last Op","label":"","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":560,"wires":[]},{"id":"cca4398b.8ca728","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20190307/mqtt_Last_Op_refresh","qos":"0","broker":"292528fc.d24198","x":280,"y":560,"wires":[["17b52739.1c4fc9"]]},{"id":"3d5d91cd.5c67ee","type":"ui_text","z":"ad501b14.12f788","group":"f3c215e6.76dc28","order":0,"width":0,"height":0,"name":"WiFi Signal","label":"","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":620,"wires":[]},{"id":"82f0c8e6.8f3fd8","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20190307/wifi_signal_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":620,"wires":[["3d5d91cd.5c67ee"]]},{"id":"60c782b.609207c","type":"ui_text","z":"ad501b14.12f788","group":"b8bdb450.444978","order":0,"width":0,"height":0,"name":"status Date","label":"","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":760,"wires":[]},{"id":"bbca9ae9.a8e128","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20190202/status_date_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":760,"wires":[["60c782b.609207c"]]},{"id":"91017659.fe9328","type":"ui_text","z":"ad501b14.12f788","group":"b8bdb450.444978","order":0,"width":0,"height":0,"name":"mqtt ID","label":"","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":820,"wires":[]},{"id":"476f74dc.01aadc","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20190202/mqtt_ID_refresh","qos":"0","broker":"292528fc.d24198","x":260,"y":820,"wires":[["91017659.fe9328"]]},{"id":"7261e948.ac9fe8","type":"ui_text","z":"ad501b14.12f788","group":"b8bdb450.444978","order":0,"width":0,"height":0,"name":"mqtt Last Op","label":"","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":880,"wires":[]},{"id":"d76135c5.080458","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20190202/mqtt_Last_Op_refresh","qos":"0","broker":"292528fc.d24198","x":280,"y":880,"wires":[["7261e948.ac9fe8"]]},{"id":"de3654f6.8f7f38","type":"ui_text","z":"ad501b14.12f788","group":"b8bdb450.444978","order":0,"width":0,"height":0,"name":"WiFi Signal","label":"","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":940,"wires":[]},{"id":"41752c91.031d44","type":"mqtt in","z":"ad501b14.12f788","name":"","topic":"casa/NODEMCU-20190202/wifi_signal_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":940,"wires":[["de3654f6.8f7f38"]]},{"id":"baef93d3.38e2","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/power_on_status_refresh","qos":"0","broker":"292528fc.d24198","x":280,"y":1200,"wires":[["b15d8e7b.3f573"]]},{"id":"b15d8e7b.3f573","type":"ui_text","z":"655c532e.7d764c","group":"dbcf6bb6.823bf8","order":2,"width":0,"height":0,"name":"","label":"El relé está: ","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1200,"wires":[]},{"id":"3f524c6a.815614","type":"ui_numeric","z":"655c532e.7d764c","name":"","label":"Hora inicio","group":"e21fc5e8.e5b508","order":2,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":670,"y":740,"wires":[["ad7ff9f8.dd22c8"]]},{"id":"88d3840e.2f2e98","type":"ui_numeric","z":"655c532e.7d764c","name":"","label":"Minutos inicio","group":"e21fc5e8.e5b508","order":3,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":680,"y":840,"wires":[["642890fa.1c1e5"]]},{"id":"75aa9784.e05d68","type":"ui_numeric","z":"655c532e.7d764c","name":"","label":"Duración en minutos","group":"e21fc5e8.e5b508","order":4,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"1440","step":1,"x":700,"y":940,"wires":[["87808c77.e2e0d"]]},{"id":"9d44b0c0.de772","type":"ui_switch","z":"655c532e.7d764c","name":"","label":"Activar temporizador","group":"e21fc5e8.e5b508","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":680,"y":620,"wires":[["dc7978d.56e5988"]]},{"id":"9708b376.96bd6","type":"ui_text","z":"655c532e.7d764c","group":"e21fc5e8.e5b508","order":5,"width":0,"height":0,"name":"","label":"Activado","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":1040,"wires":[]},{"id":"5cfd178e.aca718","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_enabled_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":620,"wires":[["9d44b0c0.de772"]]},{"id":"dc7978d.56e5988","type":"mqtt out","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_enabled","qos":"2","retain":"","broker":"292528fc.d24198","x":1130,"y":620,"wires":[]},{"id":"ad7ff9f8.dd22c8","type":"mqtt out","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_initial_hours","qos":"2","retain":"","broker":"292528fc.d24198","x":1120,"y":740,"wires":[]},{"id":"b597462a.a95908","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_initial_hours_refresh","qos":"0","broker":"292528fc.d24198","x":280,"y":740,"wires":[["3f524c6a.815614"]]},{"id":"642890fa.1c1e5","type":"mqtt out","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_initial_minutes","qos":"2","retain":"","broker":"292528fc.d24198","x":1110,"y":840,"wires":[]},{"id":"d81d7213.6d7a9","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_initial_minutes_refresh","qos":"0","broker":"292528fc.d24198","x":290,"y":840,"wires":[["88d3840e.2f2e98"]]},{"id":"87808c77.e2e0d","type":"mqtt out","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_duration","qos":"2","retain":"","broker":"292528fc.d24198","x":1130,"y":940,"wires":[]},{"id":"62075e7b.d3188","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_duration_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":940,"wires":[["75aa9784.e05d68"]]},{"id":"28d9819b.93690e","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/timer_state","qos":"0","broker":"292528fc.d24198","x":240,"y":1040,"wires":[["9708b376.96bd6"]]},{"id":"d78b853a.d373e8","type":"ui_switch","z":"655c532e.7d764c","name":"Master Switch","label":"Master Switch","group":"dbcf6bb6.823bf8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":660,"y":1520,"wires":[["d2495a5a.63f968"]]},{"id":"d2495a5a.63f968","type":"mqtt out","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/masterSwitch","qos":"2","retain":"","broker":"292528fc.d24198","x":1200,"y":1520,"wires":[]},{"id":"ba9c057f.031588","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/masterSwitch_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":1520,"wires":[["d78b853a.d373e8"]]},{"id":"f3defddd.06dd2","type":"ui_text","z":"655c532e.7d764c","group":"ba50b89b.1bbe38","order":0,"width":0,"height":0,"name":"status Date","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1680,"wires":[]},{"id":"86bb6444.939df8","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/status_date_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":1680,"wires":[["f3defddd.06dd2"]]},{"id":"96e3ffc7.75d59","type":"ui_text","z":"655c532e.7d764c","group":"ba50b89b.1bbe38","order":0,"width":0,"height":0,"name":"mqtt ID","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":1740,"wires":[]},{"id":"4b4f3eb6.e40b3","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/mqtt_ID_refresh","qos":"0","broker":"292528fc.d24198","x":260,"y":1740,"wires":[["96e3ffc7.75d59"]]},{"id":"a0ce94fb.23a7f8","type":"ui_text","z":"655c532e.7d764c","group":"ba50b89b.1bbe38","order":0,"width":0,"height":0,"name":"mqtt Last Op","label":"","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1800,"wires":[]},{"id":"fa4e4127.15d85","type":"ui_text","z":"655c532e.7d764c","group":"ba50b89b.1bbe38","order":0,"width":0,"height":0,"name":"WiFi Signal","label":"","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":1860,"wires":[]},{"id":"f203a382.980f5","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/wifi_signal_refresh","qos":"0","broker":"292528fc.d24198","x":270,"y":1860,"wires":[["fa4e4127.15d85"]]},{"id":"c908f245.4952d","type":"mqtt in","z":"655c532e.7d764c","name":"","topic":"casa/NODEMCU-20190307/mqtt_Last_Op_refresh","qos":"0","broker":"292528fc.d24198","x":280,"y":1800,"wires":[["a0ce94fb.23a7f8"]]}]